@model Actor

@{
    ViewData["Title"] = "Actor Details";
}

<div class="row text-black">
    <div class="col-md-8 offset-2">
        <h3 class="text-center mb-4" style="font-family: 'Montserrat', sans-serif; font-size: 3rem;">Details of @Model.ActorName</h3>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-outline text-center">
                    <img id="ProfilePictureURLPreview" class="rounded-circle" style="height: 120px; width: 150px; object-fit: cover; border: 2px solid #777;" />
                </div>
                <div class="form-outline mt-4">
                    <label asp-for="ProfilePictureURL" class="form-label" style="font-family: 'Roboto', sans-serif;">Profile Picture URL</label>
                    <input asp-for="ProfilePictureURL" class="form-control" placeholder="https://example.com/image.jpg" readonly />
                    <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                </div>
                <div class="form-outline mt-4">
                    <label asp-for="ActorName" class="form-label" style="font-family: 'Roboto', sans-serif;">Actor Name</label>
                    <input asp-for="ActorName" class="form-control" placeholder="John Doe" readonly />
                    <span asp-validation-for="ActorName" class="text-danger"></span>
                </div>
                <div class="form-outline mt-4">
                    <label asp-for="bio" class="form-label" style="font-family: 'Roboto', sans-serif;">Bio</label>
                    <input asp-for="bio" class="form-control" placeholder="Enter a short bio" readonly />
                    <span asp-validation-for="bio" class="text-danger"></span>
                </div>
                <div class="form-outline mt-4" style="margin-top:5px;">
                    <a class="btn btn-outline-success float-end" asp-action="Edit" asp-route-id="@Model.ActorId">Edit</a>
                    <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePictureURLPreview');
            output.src = $("#ProfilePictureURL").val();
        })
    </script>

}
