<div class="row">
    <div class="col-md-6 offset-3">
        <h2 class="text-info text-center" style="text-decoration-color:black">Sorry, you have reachedto the end of the internet</h2>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movie" asp-action="Index">Home Page</a>
    </div>
</div>