@model IEnumerable<Producer>

@{
    ViewData["Title"] = "List Of Producers";
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <table class="table table-hover table-striped">
            <thead class="bg-primary text-white">
                <tr>
                    <th scope="col">Profile Picture</th>
                    <th scope="col">Producer Name</th>
                    <th scope="col">Bio</th>
                    <th scope="col" style="width: 20%">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.ProfilePictureName" alt="@item.ProducerName" style="max-width: 150px">
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(ItemModel => item.ProducerName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(ItemModel => item.Bio)
                        </td>
                        <td class="align-middle">
                            <div class="d-flex justify-content-around">
                                <a class="btn btn-outline-primary btn-sm edit-button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="bi bi-pencil-square"></i> Edit</a>
                                <a class="btn btn-outline-info btn-sm details-button" data-toggle="tooltip" data-placement="top" title="Details"><i class="bi bi-eye"></i> Details</a>
                                <button class="btn btn-danger btn-sm delete-button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="bi bi-trash"></i> Delete</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Custom CSS styles -->
<style>
    .table-hover tbody tr:hover {
        background-color: #f8f9fa;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f3f3f3;
    }

    .btn {
        transition: all 0.2s ease-in-out;
    }

    .btn-outline-primary {
        color: #007bff;
        border-color: #007bff;
    }

        .btn-outline-primary:hover {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }

    .btn-outline-info {
        color: #17a2b8;
        border-color: #17a2b8;
    }

        .btn-outline-info:hover {
            color: #fff;
            background-color: #17a2b8;
            border-color: #17a2b8;
        }

    .btn-danger {
        color: black;
        border-color: #dc3545;
    }

        .btn-danger:hover {
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
        }
</style>

<!-- Custom JavaScript for tooltips -->
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
